* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}


/* nav*/

.navbar {
    width: 100%;
    background: #f87474;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 16px 50px;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
}

.navbar img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}


/* main*/

.main-content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(110deg, #fff4b8 10%, #ffd6d6 50%, #fb99d4 80%);
}

.content {
    flex: 1;
    padding: 100px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    font-size: 54px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}

.content p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.content button {
    width: 240px;
    height: 50px;
    background: #f87474;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.content button:hover {
    filter: brightness(90%);
}

.img {
    flex: 1;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*  footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background: linear-gradient(120deg, #fff9c4, #ffccbc, #ff99aa);
    padding: 8rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.footer-img {
    display: flex;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
    min-width: 300px;
}

.footer-img .left,
.footer-img .right {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-img .left img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.footer-img .right img {
    height: 420px;
    width: 100%;
    object-fit: cover;
}

.footer-content {
    flex: 1;
    max-width: 450px;
    background-color: rgb(238, 121, 117);
    color: black;
    padding: 2rem;
    margin-top: 70px;
    border-radius: 5px;
    min-width: 250px;
}

.footer-content h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    text-transform: uppercase;
}

.footer-content p {
    font-size: 1rem;
}

.footer-content img {
    width: 30px;
    vertical-align: middle;
}


/* tablet  */

@media (max-width: 1023px) {
    .navbar {
        padding: 16px 30px;
        gap: 20px;
    }
    .main-content {
        flex-direction: column;
    }
    .content {
        padding: 60px 40px;
    }
    .content h1 {
        font-size: 42px;
    }
    .content p {
        font-size: 18px;
    }
    .content button {
        width: 180px;
        height: 45px;
    }
    .footer {
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: 0%;
        flex-direction: column;
        align-items: center;
    }
    .footer-img {
        margin-top: 0%;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }
    .footer-img .left,
    .footer-img .right {
        width: 48%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .footer-img .left img {
        width: 100%;
        height: 200px;
        display: block;
        padding-left: 0;
        margin: 0;
    }
    .footer-img .right img {
        width: 100%;
        height: 420px;
        display: block;
        padding-left: 0;
        margin: 0;
    }
    .footer-content {
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .navbar {
        flex-direction: column;
        align-items: start;
        gap: 0rem;
    }
    .content {
        order: 2;
    }
    .img {
        order: 1;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }
    .footer-img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        gap: 0rem;
    }
    .footer-img .left,
    .footer-img .right {
        width: 95%;
        display: flex;
        gap: 0px;
        flex-direction: column;
        align-items: center;
    }
    .footer-img .left img,
    .footer-img .right img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
        margin-bottom: 1rem;
    }
    .footer-img .right img {
        padding-left: 0;
        padding-right: 10px;
        margin: 0;
        display: block;
        height: 250px;
        width: 100%;
    }
    .footer-content {
        color: black;
        max-width: 100%;
        width: 90%;
        margin-top: 1rem;
        padding: 1.5rem;
        text-align: center;
    }
    .footer-content h1 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 20px;
    }
    .footer-content {
        width: 48%;
        box-sizing: border-box;
    }
    .footer-img {
        width: 48%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        box-sizing: border-box;
    }
    .footer-img .left,
    .footer-img .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-img .left img,
    .footer-img .right img {
        width: 100%;
        margin: 0;
        object-fit: cover;
        display: block;
    }
}