  html,
  body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  /* navbar */
  
  .navbar {
      width: 100%;
      height: 70px;
      background-color: #ff6e60;
      /* border: 2px solid; */
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: static;
      flex-direction: row;
      padding: 20px;
  }
  
  .navbar a {
      display: inline-flex;
      align-items: center;
      white-space: nowrap;
  }
  
  a {
      color: black;
      text-decoration: none;
      font-family: 'Arial', sans-serif;
      font-weight: bolder;
      font-size: large;
  }
  /* Tablet */
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      .navbar {
          height: auto;
          padding: 15px 20px;
      }
  }
  /* main content */
  
  .main-content {
      width: 100%;
      min-height: 550px;
      /* border: 2px solid; */
      display: flex;
      flex-direction: row;
      padding-top: 0px
  }
  
  .content {
      flex: 1;
      background: linear-gradient(to right, #fff9c4, #ffccbc);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
  }
  
  .content h1 {
      text-align: center;
      font-family: 'Montserrat', 'Poppins', 'Arial Black', sans-serif;
      margin-top: 0;
      font-size: 3rem;
      font-weight: 900;
      letter-spacing: 0.1em;
  }
  
  .content p {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      margin: 20px 0;
      line-height: 1.4;
  }
  
  .content button {
      background-color: #ff6e60;
      color: white;
      width: 200px;
      height: 40px;
      margin-top: 20px;
      border: none;
  }
  
  .img {
      flex: 1;
      overflow: hidden;
  }
  
  .img img,
  .footer-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
  }
  
  .img img {
      width: 100%;
      object-fit: cover;
      height: 100%;
  }
  /* footer */
  
  .footer {
      width: 100%;
      min-height: 500px;
      height: auto;
      background: linear-gradient(to right, #fff9c4, #ffccbc, #ff99aa);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      overflow-x: hidden;
      padding: 10px;
      overflow-y: hidden;
  }
  
  .footer-content {
      width: 48%;
      height: auto;
      padding: 10px;
  }
  
  .footer-img {
      width: 48%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 70px 0px 0px 10px;
  }
  
  .left {
      width: 48%;
      height: 200px;
  }
  
  .left img {
      width: 90%;
      height: 200px;
      padding-left: 20px;
  }
  
  .right img {
      width: 95%;
      height: 400px;
  }
  
  .right {
      width: 48%;
      height: 450px;
  }
  
  .footer-img img {
      width: 100%;
      max-width: 250px;
  }
  
  .ipsum {
      height: auto;
      background-color: #ff6e60;
      width: 90%;
      max-width: 450px;
      margin: 70px;
      margin-top: 150px;
      padding: 10px;
  }
  
  .ipsum p,
  h1,
  button {
      margin: 20px;
  }
  
  .ipsum h1 {
      font-size: 2.8rem;
  }
  
  .ipsum img {
      margin-top: 5px;
  }
  
  sup {
      font-size: 20px;
  }
  /* Mobile */
  
  @media screen and (max-width: 767px) {
      .navbar {
          display: flex;
          justify-content: start;
          align-items: start;
          padding: 20px;
          flex-direction: column;
      }
      .navbar {
          height: auto;
          padding: 10px 20px;
          align-items: flex-start;
      }
      .navbar a {
          font-size: medium;
          font-size: 14px;
          padding: 2px;
          line-height: 18px;
      }
      .footer-img {
          width: 90%;
          display: inline;
      }
      .footer-img .left,
      .right {
          width: 100%;
          display: inline;
      }
      .left img,
      .right img {
          width: 100%;
          height: 300px;
      }
      .footer-content {
          width: 90%;
      }
      .ipsum {
          margin: 20px;
          width: 90%;
          max-width: none;
      }
      .footer-img img {
          width: 95%;
          max-width: 350px;
          margin-bottom: 10px;
      }
      .main-content {
          display: flex;
          flex-direction: column;
          padding-top: 0px;
      }
      .content,
      .img {
          width: 100%;
          max-width: 100%;
      }
      .content {
          order: 2;
      }
      .img {
          order: 1;
      }
      .img img {
          width: 100%;
          height: auto;
          object-fit: cover;
          display: block;
      }
  }
  /* Tablet: 768px - 1023px */
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
      .footer-img {
          width: 100%;
          display: block;
      }
      .footer-img .left,
      .right {
          width: 100%;
          display: block;
      }
      .left img {
          width: 100%;
          height: auto;
      }
      .footer-content {
          width: 90%;
      }
      .ipsum {
          margin: 20px;
          width: 90%;
          max-width: none;
      }
      .footer-img img {
          width: 95%;
          max-width: 350px;
          margin-bottom: 10px;
      }
      .main-content {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding-top: 90px;
          padding-top: 70px;
      }
      .content,
      .img {
          width: 100%;
          max-width: 100%;
          box-sizing: border-box;
      }
      .content {
          order: 2;
      }
      .img {
          order: 1;
      }
      .img img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
      }
  }